.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  min-height: 70vh; /* Setidaknya setinggi 70% layar */
}

.login-form {
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.login-button {
  width: 100%;
  padding: 12px;
  background-color: #004a8d; /* Warna Biru Utama */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #003366; /* Warna biru lebih gelap */
}

.login-button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.error-message {
  color: #d8000c; /* Merah */
  background-color: #ffd2d2;
  border: 1px solid #d8000c;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.textarea-input,
.file-input,
.select-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  font-family: inherit;
}
.file-input {
  padding: 8px;
}
.success-message {
  color: #006400;
  background-color: #dff2bf;
  border: 1px solid #006400;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 4px;
}
